<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#sidebar" 
      aria-controls="sidebar" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="sidebar">
      <div class="sidebar-header text-center my-3">
        <img src="/assets/profile.png" class="profile-pic" alt="Bibliotecario">
        <h5>Hola, Administrador</h5>
      </div>

      <!-- Enlaces alineados a la izquierda con margen -->
      <ul class="list-group list-group-horizontal-lg flex-wrap justify-content-start ms-lg-4 mt-2 w-100">
        <a RouterLink="admin" href="admin" class="list-group-item">Inicio</a>
        <a RouterLink="usuarios" href="usuarios" class="list-group-item">Usuarios</a>
        <a RouterLink="libros" href="libros" class="list-group-item">Libros</a>
        <a RouterLink="prestamos" href="prestamos" class="list-group-item">Préstamos</a>

        <!-- Botón Cerrar Sesión alineado a la derecha dentro de la lista -->
        <a 
          (click)="cerrarSesion()" 
          type="button" 
          class="list-group-item ms-auto">
          Cerrar Sesión
        </a>
      </ul>
    </div>
  </div>
</nav>

