<app-nav></app-nav>
<div id="page-content-wrapper">
    <div class="container"> <!-- Cambiado a "container" -->
        <h1 class="mt-4">Dashboard</h1>
        <p>Welcome, Admin! Here's an overview of the library's current status:</p>
        <!-- Example content -->
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Total Usuarios</h5>
                        <p class="card-text">15</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Total Libros</h5>
                        <p class="card-text">120</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Préstamos Activos</h5>
                        <p class="card-text">8</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
