<app-nav></app-nav>
<app-search></app-search>
<div class="container mt-4" style="padding-left: 200px;">
    <!-- Books list example -->
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" >
            Libro 1
            <a RouterLink="editlibros" href="editlibros" class="btn btn-info btn-sm">Ver Detalle</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Libro 2
            <a RouterLink="editlibros" href="editlibros" class="btn btn-info btn-sm">Ver Detalle</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Libro 3
            <a RouterLink="editlibros" href="editlibros" class="btn btn-info btn-sm">Ver Detalle</a>
        </li>
    </ul>
</div>