<app-nav></app-nav>
<div id="page-content-wrapper" class="w-200">
    <nav class="navbar navbar-light bg-light border-bottom">
        <h1 class="navbar-brand">Inicio</h1>
    </nav>
    <div class="container mt-4">
        <div class="list-group">
            <div class="list-group-item shadow">
                Préstamo del 01/01/2001
                <span class="badge badge-danger">Vencido</span>
            </div>
            <div class="list-group-item shadow">
                Préstamo del 01/01/2001
            </div>
            <div class="list-group-item shadow">
                Préstamo del 01/01/2001
                <span class="badge badge-danger">Vencido</span>
            </div>
        </div>
    </div>
</div>