<app-nav></app-nav>
<div id="page-content-wrapper" class="w-100">
    <div class="container mt-4">
        <form>
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" class="form-control" id="usuario" value="Jordan Belfort" readonly>
            </div>
            <div class="form-group">
                <label for="libro">Libro</label>
                <input type="text" class="form-control" id="libro" value="Libro 1" readonly>
            </div>
            <div class="form-group">
                <label for="fecha">Fecha de Préstamo</label>
                <input type="date" class="form-control" id="fecha" value="2024-09-01">
            </div>
            <div class="form-group">
                <label for="autor">Autor</label>
                <input type="text" class="form-control" id="autor" value="Richard Wolfson" readonly>
            </div>
            <div class="form-group">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" id="dni" value="12386599" readonly>
            </div>
            <div class="form-group">
                <label for="fechad">Fecha de Devolucion</label>
                <input type="date" class="form-control" id="fechad" value="2024-09-10">
            </div>
            <div class="form-group">
                <label for="id">ID</label>
                <input type="text" class="form-control" id="id" value="12389" readonly>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea class="form-control" id="descripcion">Libro en perfectas condiciones..</textarea>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>