<app-nav></app-nav>
<div id="page-content-wrapper" class="w-200">
    <nav class="navbar navbar-light bg-light border-bottom">
        <h1 class="navbar-brand">Detalles del Libro</h1>
    </nav>
    <div class="container mt-4">
        <div class="card">
            <img src="/assets/libro-ejemplo.png" class="card-img-top w-50" alt="Libro Ejemplo">
            <div class="card-body">
                <h5 class="card-title">Título del Libro</h5>
                <p class="card-text">Autor: Nombre Autor</p>
                <p class="card-text">Estrellas: ★★★★☆</p>
                <p class="card-text">Comentarios:</p>
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Escribe tu comentario..."></textarea>
                </div>
                <button type="button" class="btn btn-primary">Publicar</button>
            </div>
        </div>
    </div>
</div>