<app-nav></app-nav>
<app-search></app-search>
<div class="container mt-4" style="padding-left: 200px;">
    <!-- Users list example -->
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Jordan Belfort
            <a RouterLink="configuracion" href="configuracion"  class="btn btn-info btn-sm">Ver Detalle</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Michael Leones
            <a RouterLink="configuracion" href="configuracion"  class="btn btn-info btn-sm">Ver Detalle</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            David Syor
            <a RouterLink="configuracion" href="configuracion" class="btn btn-info btn-sm">Ver Detalle</a>
        </li>
    </ul>
</div>