<app-nav></app-nav>
<app-search></app-search>
<div class="container mt-4" style="padding-left: 200px;">
    <!-- Loan list example -->
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Préstamo 1 (01/09/2024)
            <span class="badge badge-danger">Vencido</span>
            <a RouterLink="editprestamos" href="editprestamos" class="btn btn-info btn-sm">Ver Detalle</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Préstamo 2 (02/09/2024)
            <a RouterLink="editprestamos" href="editprestamos" class="btn btn-info btn-sm">Ver Detalle</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Préstamo 3 (03/09/2024)
            <span class="badge badge-danger">Vencido</span>
            <a RouterLink="editprestamos" href="editprestamos" class="btn btn-info btn-sm">Ver Detalle</a>
        </li>
    </ul>
</div>