<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-center mb-4">
        {{ tipoOperacion }} {{ entidad | titlecase }} {{ item_id === 'null' ? '' : item_id }}
      </h2>

      <form>
        <ng-container *ngIf = "entidad === 'usuario'">
          <!-- Campos específicos para Usuarios -->
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="usuario.nombre" name="nombre">
          </div>

          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" [(ngModel)]="usuario.apellido" name="apellido">
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="usuario.email" name="email">
          </div>

          <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="telefono" [(ngModel)]="usuario.telefono" name="telefono">
          </div>

          <div class="mb-3">
            <label for="rol" class="form-label">Rol</label>
            <input type="text" class="form-control" id="rol" [(ngModel)]="usuario.rol" name="rol">
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="password" name="contraseña">
          </div>
        </ng-container>
        
        <ng-container *ngIf="entidad === 'libro'">
          <!-- Campos específicos para Libro -->
          <div *ngIf="entidad === 'libro'" class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="libro.nombre" name="nombre">
          </div>

          <div *ngIf="entidad === 'libro'" class="mb-3">
            <label for="imagen" class="form-label"></label>
            <img src="/assets/libro-ejemplo.png" alt="{{ libro.nombre }}" class="img-fluid" style="max-width: 200px;" />
          </div>

          <div *ngIf="entidad === 'libro'" class="mb-3">
            <label for="genero" class="form-label">Genero</label>
            <input type="text" class="form-control" id="genero" [(ngModel)]="libro.genero" name="genero">
          </div>

          <div *ngIf="entidad === 'libro'" class="mb-3">
            <label for="cant_ejemplares" class="form-label">Cantidad de ejemplares</label>
            <input type="text" class="form-control" id="cant_ejemplares" [(ngModel)]="libro.cant_ejemplares" name="cant_ejemplares">
          </div>
        </ng-container>

        <ng-container *ngIf="entidad === 'prestamo'">
          <!-- Campos específicos para Prestamo -->
          <div *ngIf="entidad === 'prestamo'" class="mb-3">
            <label for="Fecha_retiro" class="form-label">Fecha de Retiro</label>
            <input type="datetime" class="form-control" id="Fecha_retiro" [(ngModel)]="prestamo.Fecha_retiro" name="Fecha_retiro">
          </div>

          <div *ngIf="entidad === 'prestamo'" class="mb-3">
            <label for="Fecha_devolucion" class="form-label">Fecha de Devolucion</label>
            <input type="datetime" class="form-control" id="Fecha_devolucion" [(ngModel)]="prestamo.Fecha_devolucion" name="Fecha_devolucion">
          </div>

          <div *ngIf="entidad === 'prestamo'" class="mb-3">
            <label for="id_usuario" class="form-label">ID de Usuario</label>
            <input type="number" class="form-control" id="id_usuario" [(ngModel)]="prestamo.id_usuario" name="id_usuario">
          </div>
        </ng-container>
      </form>

      <div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancel()">Cancelar</button>
        <button *ngIf="item_id === 'null'" type="button" class="btn btn-success" (click)="saveChanges()">Crear</button>
        <button *ngIf="item_id !== 'null'" type="button" class="btn btn-primary" (click)="saveChanges()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
