<div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="text-center mb-4">
          {{ tipoOperacion }} {{ entidad | titlecase }} {{ item_id === 'null' ? '' : item_id }}
        </h2>
  
        <form>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre">
          </div>
  
          <!-- Campos específicos para Usuario -->
          <div *ngIf="entidad === 'usuario'" class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
          </div>
  
          <!-- Campos específicos para Libro -->
          <div *ngIf="entidad === 'libro'" class="mb-3">
            <label for="autor" class="form-label">Autor</label>
            <input type="text" class="form-control" id="autor">
          </div>
  
          <div *ngIf="entidad === 'libro'" class="mb-3">
            <label for="isbn" class="form-label">ISBN</label>
            <input type="text" class="form-control" id="isbn">
          </div>

          <!-- Campos específicos para Prestamo -->
          <div *ngIf="entidad === 'prestamo'" class="mb-3">
            <label for="usuario" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="usuario">
          </div>
  
          <div *ngIf="entidad === 'prestamo'" class="mb-3">
            <label for="libro" class="form-label">libro</label>
            <input type="text" class="form-control" id="libro">
          </div>
        </form>
  
        <div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button *ngIf="item_id === 'null'" type="button" class="btn btn-primary">Crear</button>
          <button *ngIf="item_id !== 'null'" type="button" class="btn btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </div>
  