<app-nav></app-nav>
<!-- Page Content -->
<div id="page-content-wrapper" class="w-200">
    <nav class="navbar navbar-light bg-light border-bottom">
        <h1 class="navbar-brand">Libro</h1>
    </nav>
    <div class="container mt-4">
        <form>
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" id="titulo" value="Libro 1">
                <img src="/assets/libro-ejemplo.png" class="card-img-top w-25" alt="Libro Ejemplo">
            </div>
            <div class="form-group">
                <label for="autor">Autor</label>
                <input type="text" class="form-control" id="autor" value="Autor 1">
            </div>
            <div class="form-group">
                <label for="categoria">Categoría</label>
                <input type="text" class="form-control" id="categoria" value="Ficción">
            </div>
            <div class="form-group">
                <label for="isbn">ISBN</label>
                <input type="text" class="form-control" id="isbn" value="123456789">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea class="form-control" id="descripcion">Este es un libro interesante.</textarea>
            </div>
            <div class="form-group">
                <label for="cantidad">Cantidad</label>
                <input type="text" class="form-control" id="cantidad" value="12">
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>