<app-nav></app-nav>
<div id="page-content-wrapper" class="w-200">
    <nav class="navbar navbar-light bg-light border-bottom">
        <h1 class="navbar-brand">Notificaciones</h1>
    </nav>
    <div class="container mt-4">
        <div class="list-group">
            <!-- Ejemplo de notificaciones -->
            <div class="list-group-item shadow">
                Préstamo del día 10/03 (vencido)
            </div>
            <div class="list-group-item shadow">
                Préstamo del día 20/04 (próximo a vencer)
            </div>
        </div>
    </div>
</div>